<div class="container">
    <div class="row row-titulo">
        <div class="col-sm-12">
            <h1>Empresa SA</h1>
        </div>
    </div>
    <div class="row row-corpo">
        <div class="col-sm-4 align-self-center">
            <button class="btn btn-primary btn-block" [routerLink]="['./senheiro']">Senheiro</button>
        </div>
        <div class="col-sm-4 align-self-center">
            <button class="btn btn-primary btn-block" [routerLink]="['./painel']">Painel</button>
        </div>
        <div class="col-sm-4 align-self-center">
            <button class="btn btn-primary btn-block" [routerLink]="['./administrativo']">Administrativo</button>
        </div>
    </div>
</div>