<nav class="navbar navbar-dark bg-dark fixed-top flex-md-nowrap shadow justify-content-between">
    <a class="navbar-brand">
        <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        InLine Administrativo
    </a>
    <form class="form-inline">
        <a class="nav-link" href="#">Alan Luiz</a>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sair</button>
    </form>
  </nav>